## Session # 1 Homework
Ariadna Jaqueline Cordero Portocarrero
Set up the environment
You need to install Python, NumPy, Pandas, Matplotlib and Seaborn.

For that, you can read the instructions from 06-environment.md.

### Question 1
What's the version of NumPy that you installed?

You can get the version information using the `__version__` field:

In [2]:
import numpy as np
np.__version__

'1.21.5'

### Getting the data 

For this homework, we'll use the Car price dataset. Download it from 
[here](https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv).

You can do it with wget:

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
```

Or just open it with your browser and click "Save as...".

Now read it with Pandas.

In [48]:
import pandas as pd
path=r'C:/Users/ariad/OneDrive/Documentos/zoomcamp/data_cars.csv'
data=pd.read_csv(path)

### Question 2

How many records are in the dataset?

Here you need to specify the number of rows.

- 16
- 6572
- 11914
- 18990

In [4]:
data.shape

(11914, 16)

### Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?

- Chevrolet, Volkswagen, Toyota
- Chevrolet, Ford, Toyota
- Ford, Volkswagen, Toyota
- Chevrolet, Ford, Volkswagen

> **Note**: You should rely on "Make" column in this question.

In [51]:
data["Make"].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

### Question 4

What's the number of unique Audi car models in the dataset?

- 3
- 16
- 26
- 34

In [16]:
data[data.Make=='Audi'].Model.nunique()

34

### Question 5

How many columns in the dataset have missing values?

- 5
- 6
- 7
- 8

In [53]:
data.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

### Question 6

1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the `fillna` method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

> Hint: refer to existing `mode` and `median` functions to complete the task.

- Yes
- No

In [56]:
data["Engine Cylinders"].median()

6.0

In [57]:
moda=data["Engine Cylinders"].mode().item()

In [59]:
data_new=data.copy()
data_new["Engine Cylinders"]=data_new["Engine Cylinders"].fillna(value=moda)

In [60]:
data_new["Engine Cylinders"].median()

6.0

### Question 7

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Compute the inverse of `XTX`.
7. Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the value of the first element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- -0.0723
- 4.5949
- 31.6537
- 63.5643

In [62]:
#1, 2, 3
lotus=data[data.Make=='Lotus'][["Engine HP", "Engine Cylinders"]].drop_duplicates()

In [63]:
lotus.shape

(9, 2)

In [36]:
#4
X=lotus.values

In [37]:
#5
XTX=np.matmul(X.T,X)

In [39]:
#6
XTXI=np.linalg.inv(XTX)

In [40]:
#7
y=np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [41]:
#8
w=np.matmul(np.matmul(XTXI,X.T),y)

In [64]:
#9
w[0]

4.594944810094579